/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
/*
.button 
{
    -fx-font-size: 20px;
    -fx-text-fill: #e9df3e;
    -fx-background-color: #990404;
 
}
.split-pane 
{
    -fx-background-color: #445742;
}

.TextField
{
   -fx-background-color: #b3da0b;
   -fx-text-fill: #39aee3;
   -fx-font-size: 20px;
}
*/